.container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
 
 }

 .container.light-theme{
   background-color: #fff;
   color: #000;
 }

 .container.dark-theme{
   background-color: #282828;
   color: #fff;
 }