.about-container {
  width:  80%;
  height: 120px;
  display: grid;
}

h1 {
  font-size: 21px;
  font-family: "Titillium Web";
  font-weight: 600;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: 0px;
  text-transform: none;
}

@media screen and (max-width: 960px) {
  .about-container {
    margin: 0px auto;
    height: 287px;
    margin-top: 2rem;
  }
}

.about-container.dark-theme {
  background: #282828;
}

.about-container.light-theme{
  background: #fff;
}
